params {
  config_profile_description = 'Minerva HPC at The Icahn School of Medicine at Mount Sinai'
  config_profile_contact = 'Chris Tastad (christopher.tastad@mssm)'             # who should this be
  config_profile_url = 'https://labs.icahn.mssm.edu/minervalab/'
  max_memory = 192.GB
  max_cpus = 48
  max_time = 144.h
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${baseDir}/singularity"                                           # should there be a global shared cache
}

process{
  executor = 'lsf'
  queue = 'premium'
  errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
  process.maxRetries = 5
  withLabel:process_long {
    queue = 'long'
  }
  beforeScript =
  """
  ml anaconda3
  ml singularity/3.6.4
  export http_proxy=http://172.28.7.1:3128
  export https_proxy=http://172.28.7.1:3128
  export all_proxy=http://172.28.7.1:3128
  export no_proxy=localhost,*.chimera.hpc.mssm.edu,172.28.0.0/16
  """
}

executor{
  name = 'lsf'
  perJobMemLimit = true
  poolSize = 4                                                                  # vs queueSize
  submitRateLimit = '5 sec'
  killBatchSize = 50
}
